* {
    font-family: Raleway, sans-serif;
}
.main{
    margin: 0 25% 0 25%;
}

.flexbox-container{
    display: flex;
    justify-content: center;
    background-color: rgb(245, 244, 244);
}

.flexbox-item{
    width: 300px;
    margin: 0px;
    border: 0px solid #333;
}

.flexbox-item-1{
    min-height: 150;
    width: 20%;
    padding-left: 10px;
}

.flexbox-item-2{
    min-height: 150px;
    width: 80%;
    padding-right: 50px;

}
.second-container{
    background-color: rgb(255, 255, 255);

}

.svg-icon{
    width: 150px;
    height: 150px;
}

.navbar-brand-pressing {
    position: relative;
    margin-left: 5%;
}

.bg-dark-2 {
    background-color: #333232;
}

.menu-color {
    color: white !important;
}

/* Beginning of Left NAVBAR */
.vertical-nav {
    min-width: 5rem;
    width: 5rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
   z-index: -1;
  }
  

  .actual-menu-box {
    color: white;
    position: relative;
    margin-top: 8rem;
    margin-left: -0.5rem;
    transform: rotate(-90deg);

  }

  .social-icons-leftbar {
    text-align: center;
    position: relative;
    top: 15rem;
  }
  

  .language-box {
    color: white;
    transform: rotate(-90deg);
    position: relative;
    top: 8rem;
   
   
  }
  
  /* END of LEFT NABAR */

 .carousel-inner {
     z-index: -2;
     height: 100vh;
     margin-bottom: 2%;
 }
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }